.header__btns i {
  font-size: $s-2;
}
.nav__link i {
  font-size: $s-3;
}
.nav__close-btn i {
  font-size: $s-3;
}
.btn i {
  font-size: $s-2-5;
}
.home__social i {
  font-size: $s-2;
}
.contact__item i {
  font-size: $s-4;
}
.footer__social i {
  font-size: $s-3;
}

.testimonial__card i {
  font-size: $s-2;
}

.swiper-button-prev i,
.swiper-button-next i {
  font-size: $s-3;
}
.tabs__btn i {
  font-size: $s-2-5;
}

.data__calender i {
  font-size: $s-2;
}
.skills__card i {
  font-size: $s-3-5;
}
.service__card .card__icon i {
  font-size: $s-3-5;
}

.modal__btn i {
  font-size: $s-3-5;
}
.modal__list i {
  font-size: $s-2;
}